@media screen and (max-width:1400px) {
    form h2{
        font-size: 26px;
    }
}
@media screen and (max-width:1000px) {
    form h2{
        font-size: 22px;
    }
    .image-user img{
        max-height:80px;
        max-width:80px;
    }
}

@media screen and (max-width:800px) and (max-height:750px){
    body header img{
        display:flex;
        max-width:15%;
        max-height:35%;
    }
    body header h3{
        margin-top:6px;
        font-size:13px;
    }
    header{
        max-height:10vh;
        
    }main{
        height:80vh;
    }
    .form{
        width:70%;
        height:35%;
    }
    .tag-form{
        padding-bottom: 40px;
    }
    .tag-form h1{
        font-size:18px;
    }
    .image-user img{
        max-height:60px;
        max-width: 60px;
    }
    .form h2{
        font-size:16px;
    }
    .input{
        margin-bottom:0px;
        height:80%;
    }
    .botao{
        line-height: 18px;
      
        font-size:16px;
        border-radius: 15px;
        
        margin-top:11px;
        letter-spacing: .3px;
        
    }
    .botao-entrar{
       
        width:55%;
     
    }
    .botao-cadastrar{
        width: 38%;
       
        
        margin-bottom:0px;
    }
    .botao-link{
        line-height:18px;
        font-size:16px;
        border-radius:15px;
        letter-spacing: 0px;
        margin-top:7px;
    }
    .olhoInput{
        height:80%;
    }
    footer{
        max-height:10vh;
        width: 100%; 
        position:relative;
    }
    footer img{
        width: 0px;
        height:0px;
    }
    .footer-contain{
        font-size: 12px;
        margin-right: 20px;
        justify-content: space-around;
    }
    footer p{
        margin-right:20px;
    }
}
@media screen and (max-height:600px) {
    main{
        height:90vh;
    }
    .botao-link{
        margin-top:15px;
        font-size: 14px;
    }
    footer{
        height:0px;
        width:0px;
    }
}